<header>
    <nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">VanMMM</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
        	
            <!--  <li ng-repeat="navItem in navItems" ng-class="{active: selectedNavItem == navItem.title}" ng-click="itemClick(navItem.title)"><a href="{{}}">{{navItem.title}}</a></li>  
        	-->
        </ul>
        
        <ul class="nav navbar-nav">
        	<li id="home" class="active"><a href = "#home">Home</a></li>
        	<li id="japan"><a href = "#">Japan</a></li>
         	<li id="us"><a href = "#">US</a></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	      <li id="register"><a href="#register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	      <li id="login"><a href="#login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	    </ul>
    </div>
    </nav>
</header>